@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

body, p, span, li {
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior:smooth;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.constructionHeroSec {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('https://wallpapers.com/images/featured/civil-engineering-pa6hvqgpaqfw6mgb.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contactSection{
  background-image: linear-gradient(rgb(66,61,143,0.8), rgb(66,61,143,0.8)), url('https://res.cloudinary.com/djpvajewe/image/upload/v1732604614/ittefaq_sugar_mills_1_jkv8qw.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.customShadow {
  box-shadow: 0px 2px 8px 4px rgb(230, 229, 229);
}